#emergencyModal {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #cfcfcf;
    padding-top: 2%;
}

#modalContentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: auto;
    max-height: 350px;
    max-width: 302px;
}

#emergencyClose {
    align-self: flex-end;
    color: black;
    font-size: 21px;
    font-weight: bold;
}

#emergencyClose:hover {
    cursor: pointer;
}

#emergencyHeadline {
    margin-top: -2.5em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;

    /* IE11 adjustment: */
    align-self: stretch;
}

#emergencySubline {
    text-align:center;
    font-size: 2em;
    
    /* IE11 adjustment: */
    align-self: stretch;
}

#emergencyText {
    text-align: center;
    overflow-y:auto;
    font-size: 1.5em;

    /* IE11 adjustment: */
    align-self: stretch;
}

#emergencyButton {
    /* height: 13% */
    width: auto;
    color: #fff;
    background-color: #0E7FD5;
    border: 1px solid #039;
    margin-top: 20px;
    border-radius: 5px;
    align-self: stretch;

    /* Mac Sierra Chrome adjustment */
    height: 3em;
}
